<%- include('partials/header'); -%> <%- include('partials/navbar'); -%>

<header>
  <div class="headings" style="margin: 5px; text-align: center">
    <% if (auth) { %>
    <h2 style="text-align: center">Any Forms you have made will be displayed below</h2>
    <a
      class="btn btn-primary"
      href="/auth/forms/create"
      style="font-size: xx-large; text-align: center; margin-right: 10px"
      >Create new Form</a
    >
    <a
      class="btn btn-success"
      href="/auth/forms/submissions"
      style="font-size: xx-large; text-align: center"
      >View Submissions</a
    >
    <% if (skeletons) { %> <% skeletons.forEach(skeleton => { %>
    <div
      class="card"
      style="
        margin: 20px;
        margin-left: 200px;
        margin-right: 200px;
        text-align: center;
        font-size: xx-large;
        border: 1px solid rgb(167, 167, 167);
      "
    >
      <div class="card-body">
        <h5 style="font-size: xxx-large" class="card-title"><%=skeleton.title%></h5>
        <a
          style="font-size: x-large"
          href="/auth/forms/view/<%=skeleton._id%> "
          class="btn btn-primary card-link"
          >View</a
        >
        <a
          style="font-size: x-large"
          href="/auth/forms/link/<%=skeleton._id%> "
          class="btn btn-secondary card-link"
          >Send Link</a
        >
      </div>
    </div>
    <% })} %> <% } else {%>
    <h2 style="text-align: center">Welcome to Info Hawk!</h2>
    <p style="text-align: center; font-size: xx-large">
      Info Hawk is a service for creating , updating , and deleting forms that are created by
      approved admins of the website. It is used to ease the transfer of data without needing the
      admins to manually call and fill out the fields themselves
    </p>
    <% } %>
  </div>
</header>

<%- include('partials/footer'); -%>
