<%- include('partials/header'); -%> <%- include('partials/navbar'); -%>

<header>
  <div class="headings" style="margin: 5px; text-align: center">
    <% if (auth) { %> <% if (auth.code !== "NA") {%>
    <h2 style="text-align: center; font-size: 3vw">
      Any Forms you have made will be displayed below
    </h2>
    <a
      class="btn btn-primary"
      href="/auth/forms/create"
      style="font-size: 2vw; text-align: center; margin-right: 10px"
      >Create new Form</a
    >
    <a
      class="btn btn-success"
      href="/auth/forms/submissions"
      style="font-size: 2vw; text-align: center"
      >View Submissions</a
    >
    <% if (skeletons) { %> <% skeletons.forEach(skeleton => { %>
    <div
      class="card"
      style="
        margin: 20px;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
        font-size: 3vw;
        border: 1px solid rgb(21, 58, 76);
      "
    >
      <div class="card-body text-white bg-primary">
        <div style="font-size: 3vw" class="card-header"><%=skeleton.title%></div>
        <h6 style="font-size: 2vw; margin-top: 2px"><%=skeleton.updatedAt%></h6>
        <a
          style="font-size: 2vw; margin-top: 2px"
          href="/auth/forms/view/<%=skeleton._id%> "
          class="btn btn-info card-link"
          >View</a
        >
        <a
          style="font-size: 2vw; margin-top: 2px"
          href="/auth/forms/link/<%=skeleton._id%> "
          class="btn btn-secondary card-link"
          >Send Link</a
        >
      </div>
    </div>
    <% })} %> <% } else { %>
    <div id="register-error" class="register error alert alert-info" role="alert">
      It looks like you are not verified...
    </div>
    <h2 style="text-align: center">
      It seems you have not verified your email, please verify it or click the link below to resend
      the verification email.
    </h2>
    <input id="email-input" value="<%=auth.email%>" style="visibility: hidden" />
    <div style="text-align: center">
      <button style="font-size: large" onclick="resend()" class="btn btn-info">Resend Link</button>
    </div>
    <% } } else { %>
    <h2 style="text-align: center">Welcome to Info Hawk!</h2>
    <img src="/images/info-hawk.png" style="width: 28vw; height: 24vw" alt="info-hawk" />
    <p style="text-align: center; font-size: 2.5vw">
      Info Hawk is a service for creating , updating , and deleting forms that are created by
      approved admins of the website. It is used to ease the transfer of data without needing the
      admins to manually call and fill out the fields themselves
    </p>
    <% } %>
  </div>
</header>

<script>
  const alertDiv = document.getElementById("register-error");
  async function resend() {
    alertDiv.textContent = "It looks like you are not verified...";
    const email = document.getElementById("email-input").value;
    try {
      alertDiv.className = "register error alert alert-info";
      alertDiv.textContent = "Sending new link...";
      const { data } = await axios.post("/auth/resend", { email });
      if (data.message) {
        alertDiv.className = "register error alert alert-success";
        alertDiv.textContent = data.message;
      }
    } catch (err) {
      alertDiv.className = "register error alert alert-danger";
      if (err.response && err.response.data) {
        const { hawkError } = err.response.data;
        if (hawkError && hawkError.msg) alertDiv.textContent = hawkError.msg;
      } else {
        alertDiv.textContent = err.message || "Something went wrong try again later...";
      }
    }
  }
</script>

<%- include('partials/footer'); -%>
