<%- include('partials/header'); -%> <%- include('partials/navbar'); -%>

<div class="headings" style="margin: 5px; text-align: center">
  <% if (auth) { %>
  <h2 style="text-align: center">Any submissions submitted with your code with be shown below</h2>
  <% if (submissions) { %> <% submissions.forEach(submission => { %>
  <div
    class="card"
    style="
      margin: 20px;
      margin-left: 200px;
      margin-right: 200px;
      text-align: center;
      font-size: xx-large;
      border: 1px solid rgb(167, 167, 167);
    "
  >
    <div class="card-body">
      <h3 style="font-size: xx-large" class="card-title"><%=submission.title%></h3>
      <h4 class="card-subtitle mb-2 text-muted"><%=submission.createdAt%></h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%=submission._id%></li>
    </ul>
    <div class="card-body">
      <a
        style="font-size: x-large"
        href="/auth/forms/submission/<%=submission._id%> "
        class="btn btn-success card-link"
        >View</a
      >
    </div>
  </div>
</div>
<% })}} %>
