<%- include('partials/header'); -%> <%- include('partials/navbar'); -%>

<div class="headings" style="margin: 5px; text-align: center">
  <% if (auth) { %>
  <h2 class="animate__animated animate__bounceIn" style="text-align: center">
    Any submissions submitted with your code with be shown below
  </h2>
  <a
    class="btn btn-secondary animate__animated animate__backInLeft"
    href="/auth/forms/filter"
    style="text-align: center; margin-top: 4px; font-size: x-large"
    >Filter</a
  >
  <% if (submissions) { %> <% submissions.forEach(submission => { %>
  <div
    class="card text-white bg-success animate__animated animate__fadeIn"
    style="
      margin: 20px;
      margin-left: 25%;
      margin-right: 25%;
      text-align: center;
      border: 1px solid rgb(24, 57, 37);
      --animate_duration: 3s;
    "
  >
    <div class="card-body">
      <div style="background-color: #1b7b4e" class="card-header"><%=submission._id%></div>
      <h4 style="margin-top: 10px" class="card-subtitle mb-2"><%=submission.title%></h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-success text-white">
        <%=new Date(submission.createdAt).toDateString()%>
      </li>
    </ul>
    <div class="card-body">
      <a href="/auth/forms/submission/<%=submission._id%> " class="btn btn-primary card-link"
        >View</a
      >
    </div>
  </div>
</div>
<% })}} %>
